.nav-header {
  padding: 15px;
  background-color: #7e858e;
}
.nav-content {
  display: flex;
  justify-content: space-between;
}
.website-logo {
  width: 140px;
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  list-style-type: none;
  margin-left: 50px;
  font-size: 20px;
  color: #fff;
}
.logout-btn {
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #0967d2;
  margin-top: 20px;
}
